@import "reset.scss";
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy-Medium.woff);
  font-weight: 500;
}
html {
  font-family: Gilroy;
}
// Language
.eng {
}
.ru {
  display: none;
}

.container {
  margin: 0 auto;
  @media (min-width: 320px) {
    padding: 30px 0 30px 0;
    max-width: 86%;
  }
  @media (min-width: 1024px) {
    max-width: 80%;
  }
}
// HOME
.main-screen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @media (min-width: 320px) {
    position: relative;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.nav {
  display: none;
  a {
    color: #828282;
    font-weight: bold;
    transition-duration: 0.3s;
  }
  & a:hover {
    color: black;
  }
  @media (min-width: 1024px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  @media (min-width: 1440px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  @media (min-width: 2560px) {
    margin-top: 1%;
    font-size: 35px;
  }
  &__link {
  }
}

.line {
  display: none;
  width: 100%;
  height: 1px;
  background-color: #828282;
  @media (min-width: 1024px) {
    display: block;
    margin: 3% 0 3% 0;
  }
  @media (min-width: 1920px) {
    margin: 2% 0;
  }

  @media (min-width: 2560px) {
    height: 2px;
  }
}
.name {
  font-weight: bold;
  @media (min-width: 320px) {
    font-size: 44px;
    margin-bottom: 5%;
  }
  @media (min-width: 768px) {
    font-size: 45px;
    margin-bottom: 2%;
  }
  @media (min-width: 1024px) {
    flex: 0 0 33.3%;
    margin: 0;
  }
  @media (min-width: 1440px) {
    font-size: 55px;
  }
  @media (min-width: 2560px) {
    font-size: 78px;
  }
}

.title {
  font-weight: bold;
  text-align: center;
  @media (min-width: 320px) {
    font-size: 34px;
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 30px;
  }
  @media (min-width: 1024px) {
    font-size: 40px;
    margin-bottom: 28px;
  }

  @media (min-width: 1440px) {
    font-size: 45px;
  }
  @media (min-width: 1920px) {
    font-size: 50px;
  }
}

.subtitle {
  text-align: center;
  @media (min-width: 320px) {
    font-size: 18px;
  }
  @media (min-width: 768px) {
    font-size: 19px;
  }
  @media (min-width: 1024px) {
    text-align: center;
    flex: 0 0 33.3%;
  }
  @media (min-width: 1440px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  @media (min-width: 2560px) {
    font-size: 35px;
  }
}

.info {
  @media (min-width: 320px) {
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    text-align: center;
    flex: 0 0 33.3%;
  }
  @media (min-width: 1440px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  @media (min-width: 2560px) {
    font-size: 35px;
  }
}

.language-picker {
  display: none;
  font-weight: bold;
  color: #828282;
  justify-content: flex-end;
  writing-mode: vertical-lr;

  @media (min-width: 1024px) {
    display: flex;
    flex: 0 0 33.3%;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
  }
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  @media (min-width: 2560px) {
    font-size: 33px;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
  }
  &__wrapper2 {
    display: flex;
    align-items: center;
  }

  &__eng {
    color: black;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__line {
    height: 2px;
    width: 16px;
    background-color: black;
    margin: 10px 0 10px 0;
    @media (min-width: 2560px) {
      width: 28px;
    }
  }

  &__ru {
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.burger {
  flex-direction: column;
  justify-content: space-between;
  width: 33px;
  height: 20px;
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  @media (min-width: 320px) {
    display: flex;
  }
  @media (min-width: 1024px) {
    display: none;
  }
  &__line {
    height: 4px;
    background-color: black;
  }
}

.image {
  width: 100%;
  height: 100%;
  background: url(../img/iam.png) no-repeat center / cover;

  @media (min-width: 320px) {
    margin-top: 30px;
  }
  @media (min-width: 1024px) {
    flex: 1 0 100%;
    background-position: center 0;
    background-size: 110%;
  }
  @media (min-width: 1440px) {
    font-size: 20px;
    margin-top: 35px;
    background-size: 100%;
  }
}

// ABOUT
.about {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  @media (min-width: 320px) {
    height: 500px;
  }
  @media (min-width: 425px) {
    height: 450px;
  }
  @media (min-width: 768px) {
    height: 400px;
  }
  @media (min-width: 1440px) {
    height: 600px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
}
